@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

body {
  width: 100%;
}

body .wrap {
  overflow: hidden;
}

.header {
  position: fixed;
  top: 0px;
  left: 0px;
  background-color: rgba(97, 40, 11, 0.7);
  width: inherit;
  height: 7.16vw;
  z-index: 10;
}

h1{
 display: contents;
}

.header-logo {
  width: 19.324%;
  padding: 1.283vw 0 0 1.89vw;
}

.header .navi-icon {
  display: none;
}

.header-navi {
  width: 63%;
  font-family: 游ゴシック,bold;
  font-weight: bold;
  font-size: 1.69vw;
  line-height: 7.16vw;
  color: rgba(244, 244, 244, 0.77);
  opacity: 77%;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  float: right;
  padding-right: 3.8%;
}

.header-navi .navi-list:link {
  color: rgba(244, 244, 244, 0.77);
}

.header-navi .navi-list:visited {
  color: rgba(244, 244, 244, 0.77);
}

.header-navi .navi-list:hover {
  color: #F4F4F4;
}

@media (max-width: 767px) {
  html, body {
    width: 100%;
  }
  .header {
    height: 40.65px;
    width: 100%;
  }
  .header-logo {
    width: 25.75%;
    padding: 7px 0 0 3.5%;
  }
  .header .navi-icon {
    display: block;
    width: 20px;
    opacity: 70%;
    float: right;
    padding: 10px 15px 0 0;
    z-index: 300;
  }
  .header-navi {
    position: fixed;
    top: 0;
    right: -300px;
    width: 300px;
    height: 100%;
    margin-top: 41px;
    background: #333;
    font-size: 20px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    z-index: 100;
    display: block;
    line-height: 70px;
  }
  .header-navi .navi-list {
    padding-left: 50px;
  }
}

.main-visual {
  width: 100%;
  height: 0;
  padding-top: 61.42%;
  background: url("images/img-main-visual.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100%;
  position: relative;
}

.main-visual .main-inner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.main-visual .main-inner .main-logo {
  position: absolute;
  top: 23.58vw;
  left: 59.45vw;
  opacity: 90%;
  width: 28.5vw;
}

.main-visual .logo-txt {
  position: absolute;
  top: 39.05vw;
  left: 57.43vw;
  display: inline-block;
  color: #F4F4F4;
  opacity: 90%;
  width: 33.11vw;
  height: 3.92vw;
  font-size: 1.35vw;
  font-family: Arial,Regular;
  text-align: center;
  line-height: 28px;
}

@media (max-width: 767px) {
  .main-visual {
    padding-top: 61.42%;
  }
  .main-visual .main-inner .main-logo {
    top: 81px;
    left: 113px;
    width: 174px;
  }
  .main-visual .logo-txt {
    top: 169px;
    left: 86px;
    width: 229px;
    height: 36px;
    font-size: 13px;
    font-family: Arial,Regular;
    line-height: 15px;
  }
  .main-visual .logo-txt-pc {
    display: none;
  }
}

.news {
  width: 100%;
}

.news-container {
  font-family: 游ゴシック,Regular;
  color: #714B08;
  width: 80.8%;
  margin: 0 auto;
  padding-top: 74px;
  text-align: center;
}

.news-container .news-heading {
  font-size: 40px;
  font-weight: normal;
  line-height: 52px;
}

.news-container .news-lineup {
  font-size: 35px;
  border-bottom: 1px solid #714B08;
  display: inline-block;
  width: 792px;
  text-align: left;
  line-height: 60px;
}

.news-container .top {
  border-top: 1px solid #714B08;
  margin-top: 55px;
}

@media (max-width: 767px) {
  .news-container {
    width: 92.5%;
    padding-top: 35px;
  }
  .news-container .news-heading {
    font-size: 20px;
    line-height: 26px;
  }
  .news-container .news-lineup {
    font-size: 14px;
    border-bottom: 0.5px solid #714B08;
    width: 84.86%;
    line-height: 22px;
  }
  .news-container .top {
    border-top: 0.5px solid #714B08;
    margin-top: 29px;
  }
}

.baker-message {
  width: 100%;
  padding: 174px 0 183px 0;
}

.baker-message .message-container {
  width: 80.8%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: 游ゴシック,medium;
  color: #714B08;
  padding-left: 93px;
}

.baker-message .message-container .txt-wrapper {
  position: relative;
}

.baker-message .message-container .txt-wrapper .txt-background {
  width: 50vw;
}

.baker-message .message-container .txt-wrapper .message-txt {
  font-size: 2.23vw;
  display: inline-block;
  position: absolute;
  top: 3.04vw;
  left: 3.24vw;
  width: 38vw;
  line-height: 2.83vw;
}

.baker-message .message-container .txt-wrapper .message-txt .pc-panyamada {
  float: right;
  padding-top: 30px;
}

.baker-message .message-container .baker-image-wrapper {
  padding-left: 5.06vw;
  width: 287px;
  text-align: center;
}

.baker-message .message-container .baker-image-wrapper .baker-img {
  width: 19.39vw;
}

.baker-message .message-container .baker-image-wrapper .baker-name {
  display: inline-block;
  width: 220px;
  height: 33px;
  text-align: center;
  margin: 0 auto;
  font-size: 20px;
  font-weight: bold;
  line-height: 28px;
  padding-top: 8px;
}

@media (max-width: 767px) {
  .baker-message {
    padding: 104px 0 143px 0;
  }
  .baker-message .message-container {
    width: 84.25%;
    padding-left: 15.75vw;
    position: relative;
  }
  .baker-message .message-container .txt-wrapper {
    width: 77.25vw;
    height: 306px;
    background-color: #D9C09F;
    border-radius: 33px;
  }
  .baker-message .message-container .txt-wrapper .txt-background {
    display: none;
  }
  .baker-message .message-container .txt-wrapper .message-txt {
    font-size: 18px;
    width: 87.38%;
    line-height: 22px;
    top: 35px;
    left: 21px;
  }
  .baker-message .message-container .txt-wrapper .message-txt .pc-panyamada {
    display: none;
  }
  .baker-message .message-container .baker-image-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    top: 220px;
    left: 23px;
    width: 300px;
    padding-left: 0;
  }
  .baker-message .message-container .baker-image-wrapper .baker-img {
    width: 129px;
  }
  .baker-message .message-container .baker-image-wrapper .baker-name {
    font-size: 15px;
    font-weight: normal;
    line-height: 20px;
  }
}

.ranking {
  width: 100%;
  background-color: #D9C09F;
  font-family: 游ゴシック,medium;
}

.ranking-container {
  padding-top: 86px;
  width: 80.8%;
  margin: 0 auto;
  text-align: center;
  font-size: 35px;
  color: #714B08;
}

.ranking-container .ranking-heading {
  width: 53.98vw;
  margin: 0 auto;
  text-align: center;
}

.ranking-container .ranking-heading-img {
  width: 100%;
}

.ranking-container .contents-wrapper {
  padding-top: 46px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.ranking-container .contents-wrapper .contents {
  width: 350px;
  position: relative;
  padding-bottom: 76px;
}

.ranking-container .contents-wrapper .contents-inner {
  position: absolute;
  top: -38px;
  left: -17px;
}

.ranking-container .contents-wrapper .contents-menu {
  padding-top: 23px;
  font-size: 35px;
  font-weight: bold;
}

.ranking-container .contents-wrapper .contents-text {
  font-size: 25px;
  padding-top: 13px;
  text-align: left;
  line-height: 45px;
}

.ranking-container .btn-wrap {
  font-weight: bold;
  padding-top: 76px;
}

.ranking-container .btn-wrap .btn {
  display: inline-block;
  height: 88px;
  line-height: 88px;
  border-radius: 50px;
  font-size: 35px;
  margin-top: 26px;
  margin-bottom: 113px;
  width: 504px;
  background-color: #713D08;
  color: #F4F4F4;
}

.ranking-container .btn-wrap .btn:hover {
  background-color: rgba(113, 60, 8, 0.75);
}

@media (max-width: 767px) {
  .ranking {
    width: 100%;
  }
  .ranking-container {
    padding-top: 86px;
    width: 92.5%;
    font-size: 35px;
  }
  .ranking-container .ranking-heading {
    width: 100%;
  }
  .ranking-container .ranking-heading .ranking-heading-img {
    width: 99.19%;
  }
  .ranking-container .contents-wrapper {
    padding-top: 46px;
  }
  .ranking-container .contents-wrapper .contents {
    width: 77.2%;
    margin: 0 auto 119px auto;
    padding-bottom: 0;
  }
  .ranking-container .contents-wrapper .contents .ranking-img {
    width: 100%;
  }
  .ranking-container .contents-wrapper .contents-inner {
    top: -33px;
    left: -13.7px;
    width: 30.86%;
  }
  .ranking-container .contents-wrapper .contents-inner .pop {
    width: 100%;
  }
  .ranking-container .contents-wrapper .contents-menu {
    padding-top: 17px;
    font-size: 28px;
    font-weight: bold;
  }
  .ranking-container .contents-wrapper .contents-text {
    font-size: 20px;
    padding-top: 0px;
    text-align: left;
    line-height: 36px;
  }
  .ranking-container .btn-wrap {
    font-size: 23px;
    padding-top: 0px;
  }
  .ranking-container .btn-wrap .btn {
    display: inline-block;
    height: 62px;
    line-height: 62px;
    border-radius: 44px;
    font-size: 23px;
    margin-top: 26px;
    margin-bottom: 141px;
    width: 100%;
  }
}

.delivery {
  width: 100%;
}

.delivery-container {
  width: 80.8%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-family: 游ゴシック,bold;
}

.delivery-container .delivery-heading-sp {
  display: none;
}

.delivery-container .img-wrap {
  width: 300px;
  padding-left: 36px;
  font-size: 37px;
  font-weight: bold;
  color: #5D5959;
  text-align: center;
  padding-top: 220px;
}

.delivery-container .img-wrap .delivery-img {
  padding-top: 9px;
  width: 20.27vw;
}

.delivery-container .text-wrap {
  width: 672px;
  color: #5D5959;
  padding-top: 187px;
}

.delivery-container .text-wrap .delivery-heading {
  font-size: 46px;
  text-align: center;
}

.delivery-container .text-wrap .delivery-txt {
  font-size: 32px;
  padding-top: 25px;
  font-weight: bold;
  line-height: 44px;
}

.delivery-container .text-wrap .notes {
  float: right;
  font-size: 20px;
  padding-top: 9px;
}

.delivery-container .text-wrap .cart-btn {
  display: inline-block;
  height: 88px;
  line-height: 88px;
  border-radius: 50px;
  font-size: 35px;
  width: 504px;
  font-size: 35px;
  background-color: #D9C09F;
  font-weight: bold;
  text-align: center;
  margin: 24px 0 0 69px;
}

.delivery-container .text-wrap .cart-btn:visited {
  color: #5D5959;
}

.delivery-container .text-wrap .cart-btn:hover {
  background-color: rgba(217, 192, 159, 0.75);
  cursor: pointer;
}

@media (max-width: 767px) {
  .delivery {
    width: 100%;
  }
  .delivery-container {
    width: 92.5%;
    display: block;
    text-align: center;
  }
  .delivery-container .delivery-heading-sp {
    display: inline-block;
    font-size: 30px;
    color: #5D5959;
    font-weight: bold;
    padding-top: 45px;
  }
  .delivery-container .img-wrap {
    width: 51.35%;
    font-size: 26px;
    font-weight: bold;
    padding: 46px 0 0 0;
    margin: 0 auto;
    line-height: 33px;
  }
  .delivery-container .img-wrap .delivery-img {
    padding-top: 14px;
    width: 100%;
  }
  .delivery-container .text-wrap {
    width: 97.56%;
    color: #5D5959;
    padding-top: 33px;
    text-align: left;
    margin: 0 auto;
  }
  .delivery-container .text-wrap .delivery-heading {
    display: none;
  }
  .delivery-container .text-wrap .delivery-txt {
    font-size: 19px;
    font-weight: normal;
    line-height: 25px;
    padding-top: 0;
  }
  .delivery-container .text-wrap .notes {
    float: right;
    font-size: 13px;
    line-height: 30px;
    padding-top: 7px;
  }
  .delivery-container .text-wrap .cart-btn {
    display: inline-block;
    height: 62px;
    line-height: 62px;
    border-radius: 44px;
    font-size: 23px;
    width: 100%;
    margin: 76px auto 103px auto;
  }
}

.faq {
  width: 100%;
}

.faq-container {
  width: 80.8%;
  margin: 0 auto;
  padding: 212px 0 135px 0;
  text-align: center;
  color: #713D08;
  font-family: 游ゴシック,bold;
}

.faq-container .faq-heading {
  font-size: 64px;
  border-bottom: 5px solid #713D08;
  line-height: 89px;
}

.faq-container .toggle {
  padding-top: 100px;
  font-size: 39px;
}

.faq-container .toggle .toggle-inner {
  padding-bottom: 18px;
}

.faq-container .toggle .toggle-inner .accordion-click, .faq-container .toggle .toggle-inner .accordion-content {
  display: inline-block;
  height: 88px;
  line-height: 88px;
  border-radius: 50px;
  font-size: 35px;
  background-color: #CBA6764D;
  width: 85.9%;
  border: 1px solid #713D08;
  text-align: left;
  padding-left: 168px;
}

.faq-container .toggle .toggle-inner .accordion-click:hover {
  cursor: pointer;
  background-color: rgba(238, 236, 122, 0.302);
}

.faq-container .toggle .toggle-inner .accordion-content {
  display: none;
}

@media (max-width: 767px) {
  .faq {
    width: 100%;
  }
  .faq-container {
    width: 92.5%;
    padding: 0 0 92px 0;
  }
  .faq-container .faq-heading {
    font-size: 20px;
    border-bottom: 2px solid #713D08;
    line-height: 32px;
  }
  .faq-container .toggle {
    padding-top: 32.6px;
  }
  .faq-container .toggle .toggle-inner .accordion-click, .faq-container .toggle .toggle-inner .accordion-content {
    display: inline-block;
    height: 62px;
    line-height: 62px;
    border-radius: 44px;
    font-size: 23px;
    font-size: 19px;
    width: 94.595%;
    border: 1px solid #713D08;
    padding-left: 18px;
  }
  .faq-container .toggle .toggle-inner .accordion-click.long, .faq-container .toggle .toggle-inner .accordion-content.long {
    height: 110px;
    line-height: 40px;
    padding-top: 18px;
  }
  .faq-container .toggle .toggle-inner .accordion-content {
    display: none;
  }
}

.footer {
  width: 100%;
  height: 0;
  padding-top: 49.72%;
  background: url("images/footer-img.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  position: relative;
}

.footer-mask {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.footer-mask .footer-container {
  width: 80.8%;
  margin: 0 auto;
}

.footer-mask .footer-container .address-wrapper {
  width: 15vw;
  font-family: 游ゴシック,bold;
  font-weight: bold;
  font-style: normal;
  font-size: 1.15vw;
  line-height: 2.7vw;
  color: #713D08;
  position: absolute;
  top: 6.48vw;
  left: 73.44vw;
}

.footer-mask .footer-container .address-wrapper .acsess {
  padding-top: 15px;
}

.footer-mask .footer-container .sns-icon {
  list-style: none;
  width: 134.83px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 70px 0 0 15.61px;
}

.footer-mask .footer-container .sns-icon .icon {
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

.footer-mask .footer-container .sns-icon .icon:hover {
  -webkit-transform: scale(1.3, 1.3);
          transform: scale(1.3, 1.3);
  cursor: pointer;
}

.footer .copyright {
  width: 100%;
  height: 4.93vw;
  background-color: rgba(97, 40, 11, 0.781);
  color: #FFFFFF;
  opacity: 77%;
  text-align: center;
  font-size: 1.41vw;
  line-height: 4.93vw;
  position: absolute;
  bottom: 0;
  left: 0;
}

@media (max-width: 767px) {
  .footer {
    padding-top: 73.75%;
    background: url("images/footer-img-sp.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }
  .footer-mask .footer-container {
    width: 92.5%;
  }
  .footer-mask .footer-container .address-wrapper {
    width: 37.5vw;
    font-size: 10px;
    line-height: 14px;
    top: 40px;
    left: 62.5vw;
  }
  .footer-mask .footer-container .sns-icon {
    width: 112.53px;
    padding: 33px 0 33.61px 0;
  }
  .footer-mask .footer-container .sns-icon .icon {
    -webkit-transition-duration: 0.5s;
            transition-duration: 0.5s;
  }
  .footer-mask .footer-container .sns-icon .icon .icon-img {
    height: 16.69px;
  }
  .footer-mask .footer-container .sns-icon .icon:hover {
    -webkit-transform: scale(1.3, 1.3);
            transform: scale(1.3, 1.3);
    cursor: pointer;
  }
  .footer .copyright {
    width: 100%;
    height: 28.7px;
    font-size: 10px;
    line-height: 28.7px;
  }
}

/*ここから商品一覧ページ*/
.menu-body {
  background-color: #D9C09F;
  font-family: "游ゴシック  Medium", "Yu Gothic Medium";
  width: 100%;
}

.menu-body .menu {
  width: 100%;
}

.menu-container {
  width: 80.8%;
  margin: 0 auto;
  text-align: center;
  padding-top: 219px;
  color: #713D08;
}

.menu-container .category {
  font-size: 40px;
  border-bottom: 3px solid #713D08;
  font-weight: medium;
  display: inline-block;
  width: 24.75%;
}

@media (max-width: 767px) {
  .menu-container {
    width: 92.5%;
    margin: 0 auto;
    padding-top: 87px;
  }
  .menu-container .category {
    font-size: 18px;
    border-bottom: 1px solid #713D08;
    width: 37.29%;
  }
}

.heading1 {
  background-image: url("images/titleplate.png");
  background-repeat: no-repeat;
  font-size: 2.77vw;
  line-height: 79px;
  letter-spacing: 8.24px;
  display: inline-block;
  width: 43%;
  text-align: center;
  font-family: "游ゴシック  Medium", "Yu Gothic Medium";
  background-size: contain;
  background-position: center;
}

.heading-ja {
  font-size: 2.027vw;
  padding-bottom: 89px;
  font-family: "游ゴシック  Medium", "Yu Gothic Medium";
  line-height: 55px;
}

@media (max-width: 767px) {
  .heading1 {
    font-size: 20px;
    line-height: 39px;
    letter-spacing: 4.02px;
    display: inline-block;
    width: 68.1%;
    background-size: 100%;
  }
  .heading-ja {
    font-size: 14px;
    padding-bottom: 36px;
    line-height: 22px;
  }
}

.contents-wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-top: 64.5px;
}

.contents-wrapper .contents {
  width: 29%;
  height: auto;
  font-size: 2.027vw;
}

.contents-wrapper .contents .pop {
  font-weight: bold;
}

.contents-wrapper .contents .contents-img {
  width: 100%;
  border-radius: 61px;
  display: block;
}

.contents-wrapper .contents .comingsoon-img {
  background-color: #FFFFFFFC;
  background-size: 100%;
  border-radius: 61px;
  font-size: 3.38vw;
  line-height: 5.47vw;
  padding: 26.5% 25.8%;
}

.contents-wrapper .contents .name {
  padding-top: 20px;
}

.contents-wrapper .contents .price {
  padding: 14px 0 147px 0;
}

@media (max-width: 767px) {
  .contents-wrapper {
    padding-top: 45.5px;
  }
  .contents-wrapper .contents {
    width: 45.1%;
    font-size: 13px;
  }
  .contents-wrapper .contents .comingsoon-img {
    font-size: 22px;
    line-height: 36px;
    padding: 27% 26%;
  }
  .contents-wrapper .contents .name {
    padding-top: 10px;
  }
  .contents-wrapper .contents .price {
    padding: 9px 0 62px 0;
  }
}

.btn {
  display: inline-block;
  height: 88px;
  line-height: 88px;
  border-radius: 50px;
  font-size: 35px;
  font-size: 35px;
  width: 504px;
  background-color: #713D08;
  color: #F4F4F4;
}

.btn:hover {
  background-color: rgba(113, 60, 8, 0.75);
}

.btn-notes {
  font-size: 20px;
  padding: 17px 0 111px 0;
}

@media (max-width: 767px) {
  .btn {
    display: inline-block;
    height: 62px;
    line-height: 62px;
    border-radius: 44px;
    font-size: 23px;
    font-size: 23px;
    width: 100%;
    background-color: #713D08;
    color: #F4F4F4;
    font-weight: bold;
  }
  .btn:hover {
    background-color: rgba(113, 60, 8, 0.75);
  }
  .btn-notes {
    font-size: 15px;
    padding: 20px 0 98px 0;
    font-weight: bold;
  }
}

/*ここからお取り寄せページ*/
.shopping-wrapper {
  width: 100%;
  padding-top: 220px;
  font-family: 游ゴシック,bold;
  font-weight: bold;
  color: #713D08;
}

.shopping-wrapper .shopping-container {
  width: 80.811%;
  margin: 0 auto;
  text-align: center;
}

@media (max-width: 767px) {
  .shopping-wrapper {
    padding-top: 87px;
  }
  .shopping-wrapper .shopping-container {
    width: 92.5%;
  }
}

.shopping-form {
  width: 100%;
  font-size: 25px;
}

.shopping-form .table-line {
  width: 100%;
  height: 120px;
}

.shopping-form .table-line .img-cell {
  width: 10%;
}

.shopping-form .table-line .menu-cell {
  width: 33%;
}

.shopping-form .table-line .price-cell {
  width: 20%;
}

.shopping-form .table-line .number-cell {
  width: 20%;
}

.shopping-form .table-line .total-cell {
  width: 20%;
}

.shopping-form .goods-line {
  height: 168.49px;
  font-weight: normal;
}

.shopping-form .goods-line .shopping-img {
  width: 10.1vw;
}

.shopping-form .goods-line .count-label {
  display: none;
}

.shopping-form .total-line {
  height: 235px;
  text-align: right;
}

@media (max-width: 767px) {
  .shopping-form {
    width: 100%;
    font-size: 15px;
    padding-top: 30px;
  }
  .shopping-form .table-line {
    display: none;
  }
  .shopping-form .goods-line {
    height: 168.49px;
    width: 100%;
    font-weight: normal;
  }
  .shopping-form .goods-line .shopping-img {
    padding-right: 6.25vw;
    width: 37.5vw;
  }
  .shopping-form .goods-line .td-sp {
    display: block;
    width: 40vw;
  }
  .shopping-form .goods-line .td-sp .count-label {
    display: contents;
  }
  .shopping-form .goods-line .bread-name {
    height: 50px;
    position: relative;
  }
  .shopping-form .goods-line .bread-name .text-bottom {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
  }
  .shopping-form .total-line {
    height: 100px;
  }
  .shopping-form .total-line .td-space {
    display: none;
  }
}

.shopping-btn {
  display: inline-block;
  height: 88px;
  line-height: 88px;
  border-radius: 50px;
  font-size: 35px;
  background-color: #713D08;
  width: 57.8%;
  color: #f4f4f4;
  margin: 104px 0 186px 0;
}

.shopping-btn:hover {
  background-color: rgba(113, 60, 8, 0.75);
}

@media (max-width: 767px) {
  .shopping-btn {
    display: inline-block;
    height: 62px;
    line-height: 62px;
    border-radius: 44px;
    font-size: 23px;
    font-size: 23px;
    width: 100%;
    margin: 60px 0 120px 0;
  }
  .shopping-btn:hover {
    background-color: rgba(113, 60, 8, 0.75);
  }
}

/*ここから当店についてページ*/
.aboutus-wrapper {
  width: 100%;
  background-color: #D9C09F;
  font-family: 游ゴシック,medium;
}

.aboutus-wrapper .aboutus-container {
  width: 80.8%;
  margin: 0 auto;
  text-align: center;
  padding-top: 219px;
  color: #713D08;
}

.aboutus-wrapper .aboutus-container .message {
  background-image: url("images/message-frame.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  font-size: 2.7vw;
  line-height: 219px;
  margin: 147px 0 109px 0;
  display: inline-block;
  width: 82.27%;
}

@media (max-width: 767px) {
  .aboutus-wrapper {
    width: 100%;
  }
  .aboutus-wrapper .aboutus-container {
    width: 100%;
    padding-top: 87px;
  }
  .aboutus-wrapper .aboutus-container .message {
    font-size: 15px;
    line-height: 82px;
    margin: 73px 0 67px 0;
    width: 99.45%;
    background-size: contain;
    background-position: center;
  }
}

.aboutus-contents-wrap {
  width: 100%;
}

.aboutus-contents-wrap .contents {
  width: 111.87%;
  background-color: rgba(255, 255, 255, 0.37);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 0 52px 52px 0;
  margin: 153px 0 0 -11.87%;
}

.aboutus-contents-wrap .contents:nth-child(even) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  border-radius: 52px 0 0 52px;
  margin: 153px -11.87% 0 0;
}

.aboutus-contents-wrap .contents .aboutus-img {
  width: 45.29%;
}

.aboutus-contents-wrap .top {
  margin-top: 57px;
}

@media (max-width: 767px) {
  .aboutus-contents-wrap {
    width: 100%;
  }
  .aboutus-contents-wrap .contents {
    width: 100%;
    display: block !important;
    border-radius: 0;
    margin: 0;
  }
  .aboutus-contents-wrap .contents:nth-child(even) {
    border-radius: 0;
    margin: 0;
  }
  .aboutus-contents-wrap .contents .aboutus-img {
    width: inherit;
  }
  .aboutus-contents-wrap .top {
    margin-top: 26px;
  }
}

.txt-container {
  width: 50%;
  margin: 0 auto;
  padding-top: 3.31vw;
}

.txt-container .contents-heading {
  font-size: 2.7vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 3.85vw;
}

.txt-container .contents-heading .heading-icon {
  width: 3.92vw;
  height: 3.92vw;
}

.txt-container .contents-txt {
  font-size: 2.027vw;
  text-align: left;
  padding-top: 2.7vw;
}

@media (max-width: 767px) {
  .txt-container {
    width: 92.5%;
    padding-top: 34px;
  }
  .txt-container .contents-heading {
    font-size: 23px;
    line-height: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 30px;
  }
  .txt-container .contents-heading .heading-icon {
    width: 30px;
    height: 30px;
  }
  .txt-container .contents-txt {
    font-size: 17.5px;
    line-height: 30px;
    padding: 33px 0 48px 0;
  }
}

/*ここからお問い合わせページ*/
.contact-wrapper {
  width: 100%;
}

.contact-wrapper .contact-container {
  width: 80.8%;
  margin: 0 auto;
  text-align: center;
  padding-top: 219px;
  font-family: 游ゴシック,bold;
  color: #713D08;
}

@media (max-width: 767px) {
  .contact-wrapper {
    width: 100%;
  }
  .contact-wrapper .contact-container {
    width: 92.5%;
    text-align: center;
    padding-top: 87px;
  }
}

.contact-form {
  font-size: 2.36vw;
  font-weight: bold;
  text-align: left;
}

.contact-form .input-items {
  padding-top: 80px;
}

.contact-form .input-items.line {
  line-height: 80.9px;
}

.contact-form .input-items.address {
  line-height: 240px;
}

.contact-form .input-items.question {
  line-height: 800px;
}

.contact-form .input-items .must {
  border: 3px solid #F91515;
  color: #F91515;
  display: inline-block;
  width: 7.30vw;
  height: 3.5vw;
  text-align: center;
  line-height: 3.5vw;
}

.contact-form .input-items .inputline-sp {
  display: none;
}

.contact-form .input-items .textbox {
  border: 1px solid #713D08;
  border-radius: 30px;
  float: right;
  font-size: 35px;
  width: 67.154%;
  height: 79px;
}

.contact-form .input-items .address-txt {
  border: 1px solid #713D08;
  border-radius: 30px;
  float: right;
  font-size: 35px;
  width: 67.154%;
  height: 240px;
}

.contact-form .input-items .contact-txt {
  border: 1px solid #713D08;
  border-radius: 30px;
  float: right;
  font-size: 35px;
  width: 62.637%;
  height: 800px;
}

@media (max-width: 767px) {
  .contact-form {
    font-size: 18px;
    padding-top: 67px;
  }
  .contact-form .input-items {
    padding-top: 0px;
  }
  .contact-form .input-items.line {
    line-height: 45px;
  }
  .contact-form .input-items.address {
    line-height: 45px;
  }
  .contact-form .input-items.question {
    line-height: 45px;
  }
  .contact-form .input-items .inputline-sp {
    display: block;
  }
  .contact-form .input-items .must {
    border: 2px solid #F91515;
    width: 56px;
    height: 27px;
    line-height: 27px;
  }
  .contact-form .input-items .textbox {
    font-size: 18px;
    border-radius: 10px;
    margin-bottom: 53px;
    width: 100%;
    height: 41px;
  }
  .contact-form .input-items .address-txt {
    font-size: 18px;
    border-radius: 10px;
    margin-bottom: 53px;
    width: 100%;
    height: 125px;
    line-height: 25px;
  }
  .contact-form .input-items .contact-txt {
    font-size: 18px;
    border-radius: 10px;
    margin-bottom: 53px;
    width: 100%;
    height: 416px;
    line-height: 25px;
  }
}

.submit {
  width: 100%;
  text-align: center;
}

.submit .submit-btn {
  display: inline-block;
  height: 88px;
  line-height: 88px;
  border-radius: 50px;
  font-size: 35px;
  background-color: #713D08;
  width: 57.8%;
  color: #f4f4f4;
  letter-spacing: 30px;
  margin: 232px 0 190px 0;
}

.submit .submit-btn:hover {
  background-color: rgba(113, 60, 8, 0.75);
}

@media (max-width: 767px) {
  .submit {
    width: 100%;
    text-align: center;
  }
  .submit .submit-btn {
    display: inline-block;
    height: 62px;
    line-height: 62px;
    border-radius: 44px;
    font-size: 23px;
    width: 100%;
    letter-spacing: 20px;
    margin: 136px 0 105px 0;
  }
}
/*# sourceMappingURL=stylesheet.css.map */
